.container {
    display: flex;
    flex-direction: column;
    text-align: left;

    .inp {
        color: black;
        margin-top: 15px;
        min-height: 26px;
    }
      
    .butt {
        margin-top: 20px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: yellow;
    }

    .switchform {
        color: red;
        margin: 15px;
        text-decoration-line: underline;
        text-decoration-color: red;
        cursor: pointer;
    }

    .textalignright {
        text-align: right;
        margin-bottom: 60px;
        margin-top: 10px;
    }

}